@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: 'Montserrat', sans-serif;
  font-size: 14px;
  color: #5d6266;
  background-color: #fff;
}

body.no-scroll {
  overflow-y: hidden;
}

img {
  max-width: 100%;
  height: auto;
}

a {
  color: #5d6266;
  text-decoration: none;
  -webkit-transition: .3s;
  -o-transition: .3s;
  transition: .3s;
}

.container {
  padding: 0px 20px;
}

@media (min-width: 768px) {
  .container {
    padding: 0;
    width: 620px;
    margin: 0 auto;
  }
}

@media (min-width: 992px) {
  .container {
    width: 960px;
  }
}

@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}

.section__title {
  font-size: 32px;
}

@media (min-width: 768px) {
  .section__title {
    font-size: 42px;
  }
}

.brand-color {
  color: #ee0808;
}

.bottom-bg {
  background-color: #0e1b31;
  color: #fff;
  background-image: url(../img/bottom-bg.jpg);
  background-position: center bottom;
  background-repeat: no-repeat;
  -webkit-background-size: cover;
          background-size: cover;
}

.header {
  color: #fff;
  font-weight: 700;
  background-color: #0a1731;
  background-image: url(../img/header-background.jpg);
  -webkit-background-size: cover;
          background-size: cover;
  background-repeat: no-repeat;
  background-position: right center;
  padding-bottom: 60px;
}

@media (max-width: 499px) {
  .header {
    padding-bottom: 25px;
  }
}

@media (max-width: 1199px) {
  .header__nav {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-shrink: 0;
        -ms-flex-negative: 0;
            flex-shrink: 0;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
            justify-content: space-between;
    min-height: 550px;
    height: 100%;
  }
  .header__nav-wrapper {
    position: fixed;
    z-index: 2000;
    top: 0;
    right: -320px;
    background-color: #0c172a;
    height: 100vh;
    overflow-y: scroll;
    -webkit-transition: right .3s;
    -o-transition: right .3s;
    transition: right .3s;
    max-width: 320px;
    padding: 20px 30px;
  }
}

@media (max-width: 1199px) and (min-width: 1200px) {
  .header__nav-wrapper {
    margin-right: auto;
  }
}

@media (max-width: 1199px) {
  .header__nav-wrapper.active {
    right: 0;
  }
}

.header__nav .fas {
  padding: 10px;
}

.header__nav .fas:hover, .header__nav .fas:focus {
  cursor: pointer;
}

.header__nav-title {
  font-weight: 700;
  font-size: 32px;
  position: relative;
  z-index: 5;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (min-width: 1200px) {
  .header__nav-title {
    display: none;
  }
}

.header__nav-list {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
}

@media (min-width: 1200px) {
  .header__nav-list {
    margin-bottom: 0;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}

.header__nav-list a {
  color: #f6f7f8;
  padding: 5px 0;
}

.header__nav-list a:hover, .header__nav-list a:focus {
  color: rgba(255, 255, 255, 0.45);
}

@media (min-width: 1200px) {
  .header__nav-contacts {
    display: none;
  }
}

.header__nav-subtitle {
  font-weight: 700;
  font-size: 16px;
  margin-bottom: 15px;
}

.header__nav-phone {
  margin-bottom: 40px;
}

.header__nav-phone a {
  color: #fff;
  display: block;
  margin-bottom: 5px;
}

.header__nav-social {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

.header__nav-social-item {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 30px;
  height: 30px;
  background-color: #364b6e;
  color: #0c172a;
  margin-right: 10px;
}

.header__nav-social-item i {
  margin: auto;
  font-size: 18px;
}

@media (min-width: 1200px) {
  .header__nav {
    position: static;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
        -ms-flex-direction: row;
            flex-direction: row;
    margin-right: auto;
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
  }
  .header__nav a {
    color: #f6f7f8;
    padding: 12px;
    position: relative;
  }
  .header__nav a:hover, .header__nav a:focus {
    color: rgba(255, 255, 255, 0.45);
  }
}

@media (min-width: 1200px) and (min-width: 1200px) {
  .header__nav a.current:after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -12px;
    display: block;
    height: 2px;
    width: -webkit-calc(100% - 24px);
    width: calc(100% - 24px);
    left: 12px;
    background-color: #ee0808;
  }
}

.header__top {
  border-bottom: 1px solid rgba(255, 255, 255, 0.18);
}

.header__top .container {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__logo {
  margin-right: auto;
}

@media (min-width: 1200px) {
  .header__logo {
    margin-right: 50px;
  }
}

.header__phone {
  -webkit-flex-shrink: 0;
      -ms-flex-negative: 0;
          flex-shrink: 0;
}

.header__phone a {
  font-size: 18px;
  font-weight: 700;
  color: #f6f7f8;
  display: block;
  padding: 20px 10px;
}

.header__phone a:hover, .header__phone a:focus {
  color: rgba(255, 255, 255, 0.45);
}

.header__price {
  display: none;
  position: relative;
}

.header__price-btn {
  text-align: left;
  border: none;
  width: 170px;
  background-color: #0fa8f4;
  color: #fff;
  padding: 10px 15px;
  padding-left: 45px;
  -webkit-box-shadow: 0 0 18px #0ff4ec;
          box-shadow: 0 0 18px #0ff4ec;
  position: relative;
  margin-left: 15px;
  -webkit-border-radius: 5px;
          border-radius: 5px;
  -webkit-transition: .3s;
  -o-transition: .3s;
  transition: .3s;
}

.header__price-btn:hover, .header__price-btn:focus {
  cursor: pointer;
  background-color: #0988c7;
}

.header__price-btn:hover .fas, .header__price-btn:focus .fas {
  background-color: #0968aa;
}

.header__price-btn:hover .fas:after, .header__price-btn:focus .fas:after {
  border-left-color: #0968aa;
}

.header__price .fas {
  color: #fff;
  position: absolute;
  font-size: 20px;
  width: 30px;
  height: 42px;
  background-color: #0b85db;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  z-index: 2;
  left: -4px;
  top: 4px;
  -webkit-transition: .3s;
  -o-transition: .3s;
  transition: .3s;
}

.header__price .fas:after {
  content: "";
  position: absolute;
  top: 0;
  right: -10px;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 21px 0 21px 10px;
  border-color: transparent transparent transparent #0b85db;
  -webkit-transition: .3s;
  -o-transition: .3s;
  transition: .3s;
}

@media (min-width: 1200px) {
  .header__price {
    display: block;
  }
}

.header__hamburger {
  width: 60px;
  height: 60px;
  background-color: #0fa8f4;
}

.header__title {
  margin-bottom: 470px;
}

@media (max-width: 499px) {
  .header__title {
    font-size: 25px;
    margin-bottom: 250px;
  }
}

@media (min-width: 992px) {
  .header__title {
    text-align: left;
    padding-left: 50%;
    margin: 150px 0;
    position: relative;
    z-index: 2;
  }
}

@media (min-width: 1200px) {
  .header__title-bottom {
    display: block;
    margin-top: 80px;
  }
}

.header__subtitle {
  display: block;
  position: relative;
  z-index: 5;
}

@media (max-width: 499px) {
  .header__subtitle {
    font-size: 23px;
  }
}

@media (min-width: 992px) {
  .header__subtitle {
    text-align: left;
    position: relative;
    z-index: 10;
  }
}

.header__content {
  padding-top: 55px;
  position: relative;
}

@media (max-width: 499px) {
  .header__content {
    padding-top: 25px;
  }
}

@media (min-width: 768px) {
  .header__content {
    padding-bottom: 25px;
  }
}

.header__content-bg {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-image: url(../img/header-banner.png);
  background-repeat: no-repeat;
  background-position: center 35px;
  -webkit-background-size: cover;
          background-size: cover;
}

@media (max-width: 499px) {
  .header__content-bg {
    background-position: center 10px;
  }
}

@media (min-width: 768px) {
  .header__content-bg {
    background-position: center 35px;
    max-width: 768px;
    margin: auto;
  }
}

@media (min-width: 992px) {
  .header__content-bg {
    max-width: 850px;
    left: -600px;
    background-position: center -110px;
  }
}

@media (min-width: 1200px) {
  .header__content-bg {
    max-width: 1000px;
    left: -670px;
    background-position: center -160px;
  }
}

@media (min-width: 1200px) {
  .header__advantages {
    -webkit-background-size: contain;
            background-size: contain;
    background-position: left center;
  }
}

.header__advantages .container {
  padding-top: 50px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
}

.header__advantages-item {
  width: -webkit-calc((100% - 2px) / 2);
  width: calc((100% - 2px) / 2);
  margin-right: 2px;
  margin-bottom: 2px;
}

@media (max-width: 499px) {
  .header__advantages-item:nth-child(2n) {
    margin-right: 0;
  }
}

@media (min-width: 500px) and (max-width: 991px) {
  .header__advantages-item {
    width: -webkit-calc((100% - 2px * 2) / 3);
    width: calc((100% - 2px * 2) / 3);
  }
  .header__advantages-item:nth-child(3n) {
    margin-right: 0;
  }
}

@media (min-width: 992px) {
  .header__advantages-item {
    width: -webkit-calc((100% - 2px * 5) / 6);
    width: calc((100% - 2px * 5) / 6);
  }
  .header__advantages-item:nth-child(6n) {
    margin-right: 0;
  }
}

.header__advantages-wrapper {
  position: relative;
  padding-top: 100%;
  height: 0;
  background-repeat: no-repeat;
  background-position: 20px 20px;
  -webkit-background-size: auto 60px;
          background-size: auto 60px;
  background-color: #0c172a;
  -webkit-transition: background-color .3s;
  -o-transition: background-color .3s;
  transition: background-color .3s;
}

.header__advantages-wrapper:hover, .header__advantages-wrapper:focus {
  background-color: #1d3866;
}

.header__advantages-wrapper:nth-child(1) {
  background-image: url(../img/svg/low-prices.svg);
}

.header__advantages-wrapper:nth-child(2) {
  background-image: url(../img/svg/quality.svg);
}

.header__advantages-wrapper:nth-child(3) {
  background-image: url(../img/svg/rf-warehouse.svg);
}

.header__advantages-wrapper:nth-child(4) {
  background-image: url(../img/svg/delivery.svg);
}

.header__advantages-wrapper:nth-child(5) {
  background-image: url(../img/svg/discounts.svg);
}

.header__advantages-wrapper:nth-child(6) {
  background-image: url(../img/svg/fast.svg);
}

.header__advantages-content {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 7%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
  -webkit-align-items: flex-end;
      -ms-flex-align: end;
          align-items: flex-end;
  color: #f6f7f8;
  min-height: 36px;
}

.header__nav-icon {
  -webkit-flex-shrink: 0;
      -ms-flex-negative: 0;
          flex-shrink: 0;
  -webkit-transition: 1s;
  -o-transition: 1s;
  transition: 1s;
}

@media (min-width: 1200px) {
  .header__nav-icon {
    display: none;
  }
}

.header__content {
  text-align: center;
}

.ask-price {
  color: #0f1c32;
  padding-top: 30px;
}

@media (min-width: 1200px) {
  .ask-price .container {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: end;
    -webkit-align-items: flex-end;
        -ms-flex-align: end;
            align-items: flex-end;
  }
}

.ask-price__order-form {
  position: relative;
  -webkit-box-shadow: 0px 4px 9px 0px rgba(5, 5, 5, 0.18);
          box-shadow: 0px 4px 9px 0px rgba(5, 5, 5, 0.18);
  padding: 25px 30px 30px;
}

@media (min-width: 1200px) {
  .ask-price__order-form {
    width: 570px;
  }
}

.ask-price__order-form h2 {
  margin-bottom: 20px;
}

.ask-price__catalog-image {
  position: absolute;
  top: 10px;
  right: 10px;
  width: 180px;
}

.ask-price__catalog-image .size {
  display: none;
}

.ask-price__catalog-image img {
  width: 100%;
}

.ask-price__catalog-image .is-sm {
  display: none;
}

@media (min-width: 500px) {
  .ask-price__catalog-image .is-sm {
    display: block;
  }
}

@media (min-width: 768px) {
  .ask-price__catalog-image .is-sm {
    display: none;
  }
}

@media (min-width: 768px) {
  .ask-price__catalog-image .is-md {
    display: block;
  }
}

@media (min-width: 1200px) {
  .ask-price__catalog-image .is-md {
    display: none;
  }
}

@media (min-width: 1200px) {
  .ask-price__catalog-image .is-xl {
    display: block;
  }
}

@media (min-width: 768px) {
  .ask-price__catalog-image {
    top: -50px;
    right: 20px;
    width: 270px;
  }
}

@media (min-width: 1200px) {
  .ask-price__catalog-image {
    width: 650px;
    top: -50px;
    left: -635px;
  }
}

@media (min-width: 500px) {
  .ask-price__description {
    width: -webkit-calc(100% - 190px);
    width: calc(100% - 190px);
  }
}

@media (min-width: 768px) {
  .ask-price__description {
    width: -webkit-calc(100% - 275px);
    width: calc(100% - 275px);
  }
}

@media (min-width: 1200px) {
  .ask-price__description {
    width: auto;
  }
}

.ask-price input {
  width: 100%;
  margin-top: 25px;
  background-color: #f6f7f8;
  border: none;
  line-height: 21px;
  color: #5d6266;
  padding: 15px;
  padding-left: 50px;
  background-repeat: no-repeat;
  background-position: 15px 15px;
  display: inline-block;
}

.ask-price input:focus {
  outline: 1px solid #0fa8f4;
}

@media (min-width: 768px) {
  .ask-price input {
    width: -webkit-calc(50% - 12px);
    width: calc(50% - 12px);
  }
}

.ask-price input[placeholder="Ваше имя"] {
  background-image: url(../img/user-icon.png);
}

@media (min-width: 768px) {
  .ask-price input[placeholder="Ваше имя"] {
    margin-right: 20px;
  }
}

.ask-price input[placeholder="Ваш email"] {
  background-image: url(../img/mail-icon.png);
}

.ask-price__button {
  width: 100%;
  background-color: #0fa8f4;
  border: none;
  margin-top: 30px;
  font-size: 16px;
  padding: 15px;
  color: #fff;
  position: relative;
  -webkit-transition: .3s;
  -o-transition: .3s;
  transition: .3s;
}

.ask-price__button:hover, .ask-price__button:focus {
  cursor: pointer;
  background-color: #0988c7;
}

.ask-price__button:hover .fas, .ask-price__button:focus .fas {
  background-color: #0968aa;
}

.ask-price__button:hover .fas:after, .ask-price__button:focus .fas:after {
  border-left-color: #0968aa;
}

.ask-price__button .fas {
  position: absolute;
  top: 4px;
  left: -4px;
  font-size: 20px;
  padding: 10px 6px;
  background-color: #0b85db;
  -webkit-transition: .3s;
  -o-transition: .3s;
  transition: .3s;
}

.ask-price__button .fas:after {
  content: "";
  position: absolute;
  top: -1px;
  right: -10px;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 21px 0 21px 10px;
  border-color: transparent transparent transparent #0b85db;
  -webkit-transition: .3s;
  -o-transition: .3s;
  transition: .3s;
}

.ask-price__hint {
  padding: 25px 0;
  padding-left: 50px;
  background-image: url(../img/svg/alarm.svg);
  background-repeat: no-repeat;
  background-position: 10px 50%;
}

@media (max-width: 499px) {
  .ask-price__hint {
    padding-left: 42px;
  }
}

@media (min-width: 768px) {
  .ask-price__hint {
    padding-left: 80px;
    background-position: 33px 50%;
  }
}

@media (min-width: 1200px) {
  .ask-price__hint {
    width: 50%;
  }
}

.catalog {
  color: #0f1c32;
  padding-top: 30px;
  padding-bottom: 30px;
}

.catalog .container {
  text-align: center;
}

.catalog .container h2 {
  margin-bottom: 20px;
}

.catalog .container p {
  color: #5d6266;
  margin-bottom: 0;
  line-height: 16px;
  position: relative;
  z-index: 2;
  color: #fff;
}

.catalog__slider {
  max-width: 1170px;
  position: relative;
  margin: 0 auto;
  margin-bottom: 45px;
  padding: 0 20px;
}

@media (min-width: 1200px) {
  .catalog__slider {
    padding: 0;
  }
}

.catalog__slider-title {
  padding-top: 20px;
  position: relative;
  margin-bottom: 5px;
  color: #0f1c32;
}

.catalog__slider-title:before, .catalog__slider-title:after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 1px;
  width: 100%;
  background-color: #f6f7f8;
}

.catalog__slider-title:after {
  width: 70px;
  background-color: #091ddb;
}

.catalog__slider .swiper-slide {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}

.catalog__slider .swiper-button-next,
.catalog__slider .swiper-button-prev {
  background: none;
  font-size: 28px;
  color: #091ddb;
  width: 35px;
  height: 38px;
  top: auto;
  left: auto;
  bottom: -88px;
  right: 200px;
  display: none;
  -webkit-transition: .3s;
  -o-transition: .3s;
  transition: .3s;
}

.catalog__slider .swiper-button-next:hover,
.catalog__slider .swiper-button-prev:hover {
  color: #9099ef;
}

.catalog__slider .swiper-button-next:focus,
.catalog__slider .swiper-button-prev:focus {
  outline: none;
}

.catalog__slider .swiper-button-next .fas,
.catalog__slider .swiper-button-prev .fas {
  padding: 5px;
}

@media (min-width: 1200px) {
  .catalog__slider .swiper-button-next,
  .catalog__slider .swiper-button-prev {
    display: block;
  }
}

.catalog__slider .swiper-button-prev {
  right: 250px;
}

@media (min-width: 1200px) {
  .catalog__wholesale {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.catalog__wholesale-price {
  width: 100%;
  background-color: #0fa8f4;
  border: none;
  margin-top: 30px;
  font-size: 16px;
  padding: 15px;
  padding-left: 40px;
  position: relative;
}

@media (min-width: 768px) {
  .catalog__wholesale-price {
    padding: 15px 100px;
  }
}

@media (min-width: 1200px) {
  .catalog__wholesale-price {
    padding-left: 100px;
    padding-right: 100px;
    margin-top: 0;
    width: auto;
    background: -webkit-gradient(linear, left top, right top, from(#0fa8f4), to(#091ddb));
    background: -webkit-linear-gradient(left, #0fa8f4, #091ddb);
    background: -o-linear-gradient(left, #0fa8f4, #091ddb);
    background: linear-gradient(to right, #0fa8f4, #091ddb);
    -webkit-transition: 1s;
    -o-transition: 1s;
    transition: 1s;
  }
  .catalog__wholesale-price:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: -webkit-gradient(linear, left top, right top, from(#0988c7), to(#061392));
    background: -webkit-linear-gradient(left, #0988c7, #061392);
    background: -o-linear-gradient(left, #0988c7, #061392);
    background: linear-gradient(to right, #0988c7, #061392);
    opacity: 0;
    -webkit-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
  }
  .catalog__wholesale-price:hover:before, .catalog__wholesale-price:focus:before {
    opacity: 1;
  }
  .catalog__wholesale-price:hover .fas, .catalog__wholesale-price:focus .fas {
    background-color: #075992;
  }
  .catalog__wholesale-price:hover .fas:after, .catalog__wholesale-price:focus .fas:after {
    border-left-color: #075992;
  }
}

.catalog__wholesale-price:hover, .catalog__wholesale-price:focus {
  cursor: pointer;
}

.catalog__wholesale-price .fas {
  position: absolute;
  top: 4px;
  left: -4px;
  font-size: 20px;
  padding: 10px 6px;
  background-color: #0b85db;
  color: #fff;
  -webkit-transition: .3s;
  -o-transition: .3s;
  transition: .3s;
}

.catalog__wholesale-price .fas:after {
  content: "";
  position: absolute;
  top: -1px;
  right: -10px;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 21px 0 21px 10px;
  border-color: transparent transparent transparent #0b85db;
  -webkit-transition: .3s;
  -o-transition: .3s;
  transition: .3s;
}

.catalog__wholesale-total {
  color: #5d6266;
  display: none;
  width: 170px;
  text-align: left;
}

@media (min-width: 1200px) {
  .catalog__wholesale-total {
    display: block;
  }
}

.why-us {
  color: #0f1c32;
  padding-top: 30px;
  padding-bottom: 650px;
  background-image: url(../img/why-us-bg.jpg);
  background-repeat: no-repeat;
  -webkit-background-size: 900px 900px;
          background-size: 900px;
  background-position: center bottom;
}

@media (max-width: 499px) {
  .why-us {
    padding-bottom: 600px;
    -webkit-background-size: 700px 700px;
            background-size: 700px;
    background-position: center 90%;
  }
}

@media (min-width: 1200px) {
  .why-us {
    background-position: center top;
    margin-bottom: 100px;
  }
}

.why-us .container {
  position: relative;
}

.why-us h2 {
  text-align: center;
  margin-bottom: 50px;
}

.why-us__item {
  padding-left: 60px;
  margin-bottom: 40px;
  position: relative;
}

@media (min-width: 1200px) {
  .why-us__item {
    position: absolute;
    margin-bottom: 0;
    display: none;
  }
  .why-us__item:first-child {
    display: block;
    left: 20px;
    top: 200px;
    width: 470px;
    padding-left: 0;
    padding-right: 100px;
  }
  .why-us__item:first-child .fas-wrapper {
    left: auto;
    right: 0;
    margin-top: -10px;
  }
  .why-us__item:nth-child(2) {
    display: block;
    left: 20px;
    top: 360px;
    width: 375px;
    padding-left: 0;
    padding-right: 100px;
  }
  .why-us__item:nth-child(2) .fas-wrapper {
    left: auto;
    right: 0;
    margin-top: -10px;
  }
  .why-us__item:nth-child(3) {
    display: block;
    left: 20px;
    top: 520px;
    width: 405px;
    padding-left: 0;
    padding-right: 100px;
  }
  .why-us__item:nth-child(3) .fas-wrapper {
    left: auto;
    right: 0;
    margin-top: -10px;
  }
  .why-us__item:nth-child(4) {
    display: block;
    left: 50%;
    top: 600px;
    -webkit-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
            transform: translateX(-50%);
    width: 405px;
    padding-left: 0;
    padding-top: 90px;
    text-align: center;
  }
  .why-us__item:nth-child(4) .fas-wrapper {
    left: 50%;
    -webkit-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
            transform: translateX(-50%);
    top: 20px;
    margin-top: -10px;
  }
  .why-us__item:nth-child(5) {
    display: block;
    right: 68px;
    top: 486px;
    width: 360px;
    padding-left: 90px;
  }
  .why-us__item:nth-child(5) .fas-wrapper {
    left: 0;
    top: 50px;
    margin-top: -10px;
  }
  .why-us__item:nth-child(6) {
    display: block;
    right: 65px;
    top: 345px;
    width: 330px;
    padding-left: 90px;
    padding-right: 0;
  }
  .why-us__item:nth-child(6) .fas-wrapper {
    left: 0;
    top: 40px;
    margin-top: -10px;
  }
  .why-us__item:nth-child(7) {
    display: block;
    right: 15px;
    top: 200px;
    width: 460px;
    padding-left: 90px;
    padding-right: 0;
  }
  .why-us__item:nth-child(7) .fas-wrapper {
    left: 0;
    top: 40px;
    margin-top: -10px;
  }
}

.why-us__item .fas {
  font-size: 9px;
  color: #fff;
  padding: 5px;
  border: 2px solid #fff;
  -webkit-border-radius: 50%;
          border-radius: 50%;
}

@media (min-width: 1200px) {
  .why-us__item .fas {
    padding: 8px;
    font-size: 13px;
  }
}

.why-us__item .fas-wrapper {
  background-color: #091ddb;
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
  left: 0;
  padding: 10px;
  -webkit-border-radius: 50%;
          border-radius: 50%;
  -webkit-box-shadow: 0px 4px 18px 0px rgba(5, 5, 5, 0.75);
          box-shadow: 0px 4px 18px 0px rgba(5, 5, 5, 0.75);
}

@media (min-width: 1200px) {
  .why-us__item .fas-wrapper {
    padding: 14px;
  }
}

.why-us__item p {
  line-height: 21px;
}

.warehouse {
  position: relative;
}

.warehouse .container {
  position: relative;
  padding-top: 185px;
  padding-bottom: 55px;
}

@media (min-width: 768px) {
  .warehouse .container {
    padding-top: 215px;
  }
}

@media (min-width: 1200px) {
  .warehouse .container {
    padding-top: 60px;
  }
}

@media (min-width: 768px) {
  .warehouse__content {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

@media (min-width: 1200px) {
  .warehouse__content {
    width: -webkit-calc(50% - 10px);
    width: calc(50% - 10px);
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

.warehouse h2 {
  color: #0f1c32;
  text-align: center;
  position: absolute;
  width: -webkit-calc(100% - 40px);
  width: calc(100% - 40px);
  top: -210px;
  left: 50%;
  -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
          transform: translateX(-50%);
}

@media (min-width: 768px) {
  .warehouse h2 {
    width: 620px;
  }
}

@media (min-width: 1200px) {
  .warehouse h2 {
    left: 0;
    top: -85px;
    text-align: left;
    -webkit-transform: none;
        -ms-transform: none;
            transform: none;
  }
}

@media (min-width: 768px) {
  .warehouse__contacts {
    width: 50%;
    padding-right: 40px;
  }
}

@media (min-width: 1200px) {
  .warehouse__contacts {
    padding-right: 30px;
  }
}

@media (min-width: 768px) {
  .warehouse__advantages {
    width: 50%;
  }
}

@media (min-width: 1200px) {
  .warehouse__advantages {
    padding-right: 30px;
  }
}

.warehouse__map {
  position: absolute;
  top: 0;
  left: 50%;
  width: 100%;
  height: 310px;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  -webkit-background-size: cover;
          background-size: cover;
  background-position: center;
}

@media (min-width: 768px) {
  .warehouse__map {
    width: 620px;
  }
}

@media (min-width: 992px) {
  .warehouse__map {
    width: 960px;
  }
}

@media (min-width: 1200px) {
  .warehouse__map {
    width: 570px;
    left: 100%;
    -webkit-transform: translateX(-webkit-calc(-100% - 15px));
        -ms-transform: translateX(calc(-100% - 15px));
            transform: translateX(calc(-100% - 15px));
    top: -50px;
  }
}

.warehouse__title {
  font-weight: 700;
  margin-bottom: 22px;
  font-size: 14px;
}

.warehouse__description {
  color: rgba(255, 255, 255, 0.361);
  line-height: 21px;
  margin: 15px 0 25px;
}

.warehouse__list {
  list-style: none;
}

.warehouse__list li {
  padding-left: 30px;
  margin-bottom: 25px;
  position: relative;
}

.warehouse__list li:before {
  content: "";
  position: absolute;
  width: 12px;
  height: 12px;
  top: 50%;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
  left: 0;
  background-color: #ee0808;
  -webkit-border-radius: 50%;
          border-radius: 50%;
}

.discounts-and-delivery {
  border-bottom: 1px solid rgba(255, 255, 255, 0.18);
  padding-bottom: 25px;
}

@media (min-width: 768px) {
  .discounts-and-delivery {
    padding-bottom: 50px;
  }
}

@media (min-width: 1200px) {
  .discounts-and-delivery {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    padding-bottom: 160px;
  }
}

@media (min-width: 1200px) {
  .discounts-and-delivery .container {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
  }
}

.discounts-and-delivery .section__title {
  text-align: center;
  margin-bottom: 25px;
}

@media (min-width: 1200px) {
  .discounts-and-delivery .discounts {
    width: 50%;
    padding: 0 15px;
  }
}

.discounts-and-delivery .discounts__content {
  border: 10px solid #092759;
  padding: 30px 40px;
  margin-bottom: 25px;
}

@media (min-width: 768px) {
  .discounts-and-delivery .discounts__list {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
  }
}

.discounts-and-delivery .discounts__list-item {
  position: relative;
}

@media (min-width: 768px) {
  .discounts-and-delivery .discounts__list-item {
    width: 50%;
  }
  .discounts-and-delivery .discounts__list-item:first-child {
    padding-right: 50px;
  }
}

.discounts-and-delivery .discounts__list-item p {
  margin-bottom: 35px;
  position: relative;
  z-index: 2;
}

.discounts-and-delivery .discounts__list-item p:before {
  content: "01";
  position: absolute;
  width: 20px;
  height: 20px;
  left: -30px;
  top: -30px;
  color: #092759;
  font-size: 72px;
  font-weight: 700;
  z-index: -1;
}

.discounts-and-delivery .discounts__list-item:nth-child(2) p:before {
  content: "02";
}

@media (min-width: 768px) {
  .discounts-and-delivery .discounts__details {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.discounts-and-delivery .discounts__details-title {
  margin-bottom: 15px;
  padding-right: 20px;
  font-weight: 700;
}

@media (min-width: 768px) {
  .discounts-and-delivery .discounts__details-title {
    margin-bottom: 0;
    width: 50%;
    text-align: left;
  }
}

.discounts-and-delivery .discounts__details-phone a {
  font-size: 24px;
  font-weight: 700;
  color: #fff;
}

.discounts-and-delivery .discounts__details-phone a:hover, .discounts-and-delivery .discounts__details-phone a:focus {
  color: rgba(255, 255, 255, 0.45);
}

@media (min-width: 768px) {
  .discounts-and-delivery .discounts__details-phone {
    width: 50%;
  }
}

.discounts-and-delivery .delivery {
  background-image: url(../img/map.png);
  background-repeat: no-repeat;
  background-position: center;
  -webkit-background-size: contain;
          background-size: contain;
}

@media (min-width: 1200px) {
  .discounts-and-delivery .delivery {
    width: 50%;
    padding-left: 15px;
  }
}

@media (min-width: 1200px) {
  .discounts-and-delivery .delivery .section__title {
    text-align: left;
  }
}

.discounts-and-delivery .delivery__content {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
}

.discounts-and-delivery .delivery__description {
  margin-bottom: 50px;
}

@media (min-width: 768px) {
  .discounts-and-delivery .delivery__description {
    width: 480px;
    padding-right: 20px;
  }
}

@media (min-width: 1200px) {
  .discounts-and-delivery .delivery__description {
    width: 400px;
    padding-right: 30px;
  }
}

.discounts-and-delivery .delivery__item {
  width: 50%;
  padding-right: 20px;
  margin-bottom: 30px;
}

@media (min-width: 768px) {
  .discounts-and-delivery .delivery__item {
    width: 140px;
    margin-right: 100px;
  }
  .discounts-and-delivery .delivery__item:nth-of-type(3n+1) {
    margin-right: 0;
  }
}

@media (min-width: 992px) {
  .discounts-and-delivery .delivery__item {
    margin-right: 0;
  }
}

@media (min-width: 1200px) {
  .discounts-and-delivery .delivery__item {
    width: 170px;
    margin-right: 30px;
  }
}

.discounts-and-delivery .delivery__logo {
  margin-bottom: 15px;
}

.footer {
  padding-top: 60px;
  padding-bottom: 55px;
}

@media (min-width: 768px) {
  .footer {
    padding-top: 30px;
  }
}

@media (min-width: 1200px) {
  .footer {
    padding-top: 60px;
  }
}

.footer .container {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
}

.footer__nav {
  display: none;
}

@media (min-width: 1200px) {
  .footer__nav {
    display: block;
  }
  .footer__nav div {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    list-style: none;
    -webkit-align-self: center;
        -ms-flex-item-align: center;
            align-self: center;
  }
  .footer__nav div a {
    padding: 10px 12px;
    color: #f6f7f8;
    position: relative;
  }
  .footer__nav div a:hover, .footer__nav div a:focus {
    color: rgba(255, 255, 255, 0.45);
  }
  .footer__nav div a.current:after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -12px;
    display: block;
    height: 2px;
    width: -webkit-calc(100% - 24px);
    width: calc(100% - 24px);
    left: 12px;
    background-color: #ee0808;
  }
}

.footer__wholesale {
  -webkit-box-flex: 1;
  -webkit-flex-grow: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  -webkit-box-ordinal-group: 3;
  -webkit-order: 2;
      -ms-flex-order: 2;
          order: 2;
  position: relative;
}

@media (min-width: 768px) {
  .footer__wholesale {
    -webkit-box-ordinal-group: 4;
    -webkit-order: 3;
        -ms-flex-order: 3;
            order: 3;
    width: -webkit-calc(50% - 10px);
    width: calc(50% - 10px);
  }
}

@media (min-width: 1200px) {
  .footer__wholesale {
    -webkit-box-ordinal-group: 3;
    -webkit-order: 2;
        -ms-flex-order: 2;
            order: 2;
    width: 370px;
    -webkit-box-flex: 0;
    -webkit-flex-grow: 0;
        -ms-flex-positive: 0;
            flex-grow: 0;
    margin-left: auto;
    margin-bottom: 55px;
  }
}

.footer__wholesale-price {
  display: block;
  width: 100%;
  position: relative;
  font-size: 16px;
  padding: 15px 35px;
  text-align: center;
  background-color: #0fa8f4;
  color: #f6f7f8;
  -webkit-box-shadow: 0 0 18px rgba(15, 244, 236, 0.73);
          box-shadow: 0 0 18px rgba(15, 244, 236, 0.73);
  margin-bottom: 27px;
  border: none;
  -webkit-transition: .3s;
  -o-transition: .3s;
  transition: .3s;
}

.footer__wholesale-price:hover, .footer__wholesale-price:focus {
  cursor: pointer;
  background-color: #0988c7;
}

.footer__wholesale-price:hover .fas, .footer__wholesale-price:focus .fas {
  background-color: #0968aa;
}

.footer__wholesale-price:hover .fas:after, .footer__wholesale-price:focus .fas:after {
  border-left-color: #0968aa;
}

.footer__wholesale-price .fas {
  color: #fff;
  position: absolute;
  font-size: 20px;
  width: 30px;
  height: 42px;
  background-color: #0b85db;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  z-index: 2;
  left: -4px;
  top: 4px;
  -webkit-transition: .3s;
  -o-transition: .3s;
  transition: .3s;
}

.footer__wholesale-price .fas:after {
  content: "";
  position: absolute;
  top: 0;
  right: -10px;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 22px 0 22px 10px;
  border-color: transparent transparent transparent #0b85db;
  -webkit-transition: .3s;
  -o-transition: .3s;
  transition: .3s;
}

.footer__contacts {
  width: 100%;
  margin-bottom: 15px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-ordinal-group: 4;
  -webkit-order: 3;
      -ms-flex-order: 3;
          order: 3;
}

@media (max-width: 499px) {
  .footer__contacts {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

@media (min-width: 768px) {
  .footer__contacts {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 50%;
    padding-right: 20px;
    -webkit-box-ordinal-group: 3;
    -webkit-order: 2;
        -ms-flex-order: 2;
            order: 2;
  }
}

@media (min-width: 1200px) {
  .footer__contacts {
    width: 300px;
    padding-right: 30px;
  }
}

.footer__contacts a {
  width: 50%;
  font-weight: 700;
  font-size: 18px;
  color: #fff;
}

.footer__contacts a:hover, .footer__contacts a:focus {
  color: rgba(255, 255, 255, 0.45);
}

@media (max-width: 499px) {
  .footer__contacts a {
    width: auto;
    font-size: 20px;
    padding: 3px;
  }
}

@media (min-width: 768px) {
  .footer__contacts a {
    width: 100%;
    font-size: 24px;
  }
}

@media (min-width: 768px) {
  .footer__contacts a.footer__email {
    font-size: 14px;
  }
}

@media (min-width: 768px) {
  .footer__phone {
    margin-bottom: 10px;
  }
}

.footer__info {
  width: 50%;
  font-size: 11px;
  -webkit-box-ordinal-group: 5;
  -webkit-order: 4;
      -ms-flex-order: 4;
          order: 4;
}

@media (min-width: 1200px) {
  .footer__info {
    width: 300px;
    padding-left: 130px;
    margin-right: 200px;
  }
}

.footer__info div {
  margin-bottom: 9px;
}

.footer__requisites {
  font-size: 11px;
  width: 50%;
  -webkit-box-ordinal-group: 6;
  -webkit-order: 5;
      -ms-flex-order: 5;
          order: 5;
}

@media (min-width: 1200px) {
  .footer__requisites {
    width: 370px;
  }
}

.footer__requisites div {
  margin-bottom: 9px;
}

.overlay {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1009;
}

.modal {
  display: none;
  position: fixed;
  z-index: 1010;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 100%;
  max-width: 570px;
  padding: 30px;
  background-color: #fff;
  color: #0e1d34;
}

.modal h2 {
  font-size: 40px;
  line-height: 50px;
  margin-bottom: 15px;
  padding-right: 32px;
}

@media (max-width: 499px) {
  .modal h2 {
    font-size: 22px;
    line-height: 25px;
  }
}

.modal__close {
  position: absolute;
  top: 30px;
  right: 30px;
  background: none;
  border: none;
  padding: 10px;
}

.modal__close:hover, .modal__close:focus {
  cursor: pointer;
}

.modal__close .fas {
  font-size: 24px;
  color: #a9aeb2;
}

.modal__close .fas:hover, .modal__close .fas:focus {
  cursor: pointer;
}

.modal p {
  margin-bottom: 15px;
}

.modal input {
  width: 100%;
  margin-bottom: 30px;
  background-color: #f6f7f9;
  border: none;
  padding: 15px;
  padding-left: 55px;
  background-repeat: no-repeat;
  background-position: 15px center;
}

@media (max-width: 499px) {
  .modal input {
    margin-bottom: 7px;
  }
}

.modal input:focus {
  outline: 1px solid #0fa8f4;
}

.modal input.name {
  background-image: url(../img/user-icon.png);
}

.modal input.email {
  background-image: url(../img/mail-icon.png);
}

.modal input.phone {
  background-image: url(../img/svg/phone-solid.svg);
  -webkit-background-size: 20px 20px;
          background-size: 20px;
}

.modal .submit {
  width: 100%;
  padding: 15px;
  border: none;
  background-color: #0fa8f4;
  color: #fff;
  font-size: 16px;
}

#nav-icon {
  position: relative;
  width: 60px;
  height: 60px;
  cursor: pointer;
  background-color: #0fa8f4;
  padding: 16px;
  -webkit-box-shadow: 0 0 18px #0ff4ec;
          box-shadow: 0 0 18px #0ff4ec;
}

#nav-icon span {
  display: block;
  height: 5px;
  background: #ffffff;
}

#nav-icon span:nth-child(1) {
  margin-bottom: 6px;
}

#nav-icon span:nth-child(2) {
  margin-bottom: 6px;
}

/*# sourceMappingURL=app.css.map */
